streamlit
pandas
opencv-python-headless
plotly
sqlalchemy
psycopg2-binary
numpy
python-dotenv
bcrypt
streamlit_plotly_events
tensorflow==2.20.0
tf-keras
deepface
google-cloud-storage
matplotlib
folium
streamlit-folium















