opencv-python-headless
--extra-index-url https://pypi.org/simple
streamlit
pandas
plotly
sqlalchemy
psycopg2-binary
numpy
python-dotenv
bcrypt
streamlit_plotly_events
deepface
google.cloud






